@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-size: 1.2em;
    background-color: #23a12d9f;
    padding: 50px;
}

div input {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

input[type='button'] {
    width: 224px;
}